<div ng-controller="SidebarCtrl">
  <header class="nav-header">
    <a ng-href="/" ng-click="filter.tag_primary = undefined" class="logo">
      <img src="assets/images/logo.svg" alt="" />
    </a>
  </header>
  <ul class="filters-menu">
    <li><a class="md-button" ng-href="/" ng-click="(filter.starred = !filter.starred)"><span>Starred</span></a></li>
    <li ng-repeat="tag in tags">
      <a class="md-button" ng-href="/"
         ng-click="filter.tag_primary = (filter.tag_primary === tag.tag_primary) ? undefined : tag.tag_primary">
        <span>{{tag.tag_primary}}</span>
      </a>
    </li>
  </ul>
</div>
